/*** Colors ***/

$signal-red:        #ea1c2c;
$dark-signal-red:   #b81623;

$signal-blue:       #00adef;
$dark-signal-blue:  #00688f;

$blue-lagoon:       #004d6b;
$dark-blue-lagoon:  #00364a;

$teal:              #00a19a;
$dark-teal:         #004b48;

$lemon-curd:        #ffc556;
$dark-lemon-curd:   #edb750;

$green:             #00a10b;
$dark-green:        #006107;

$grey:              #cccccc;
$light-grey:        #dfdfdf;
$dark-grey:         #333333;

$white:             #ffffff;

/*** Dimensions ***/

$lo-border-radius: 3px;
